.information{
    width: 100%;
    padding: 6rem 1rem;
    background-color: 	#f1b9a6df;
}

.card-container{
    max-width: 1140px;
    margin:auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    grid-gap: 30px ;
}

.card {
    color: #eee;
    background-color: rgba(155, 77, 89, 0.377);
    text-align: center;
    padding: 1rem;
    border-radius: 20px;
}


.card h2 {
    font-size: 1.3rem;
    padding: 0.7rem 1rem;
    font-family: "Orbitron";
    text-transform: uppercase;
    color: rgb(222, 222, 111);
}


.card p {
    padding: 10px 10px;
    color: black;
}

.bar {
    width: 10%;
    margin: 0.8rem auto;
    display: block;
}

.d {
    font-size: 0.85rem;
    text-align: match-parent;
}

.btc{
    font-size: 1.04rem;
    font-weight: bold;
    padding: 1rem 0;
    color: black;
}


@media  screen and (max-width:800px) {

    .card-container{
        max-width: 90%;
        margin:auto;
        grid-template-columns: 1fr ;
    }

    
}

@media  screen and (max-width:1000px) {

    .card-container{
        max-width: 90%;
        margin:auto;
        grid-template-columns: 1fr ;
    }

    .card p {
        font-size: 1.3rem;
    }

    .d {
        font-size: 0.95rem;
    }

    
}