
.gal-container {
    background-color: #c5edf1
}
.gal-heading{
    text-align: center;
    color: black;
    text-transform: uppercase;
    font-family: "Orbitron", "Poppins";
    letter-spacing: 0.5rem;
    font-size: 3.1rem;
    font-weight: bold;
    padding: 3rem 0 4rem 0;
}

.galproj-container{
    max-width: 1040px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:40px;
    padding-bottom: 5rem;
}

.galproj-card{
    background: #B7626d;
    padding: 1.2rem 1rem ;
}


.galproj-card img{
    width: 100%;

}

.gal-title{
    color: black;
    font-size: 1.9rem;
    padding: 1rem 0;
    text-align: center;
}

.gal-details p{
    padding-bottom: 1rem;
    color: black;
    font-size: 0.95rem;
    text-align: center;

}

.gal-btns{
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;
}

.btn{
    font-size: 0.7rem;
    padding: 1rem 2rem;
}



@media screen and (max-width:1000px) {
    .galproj-container {
        max-width: 90%;
        margin: auto;
        grid-template-columns: 1fr;
    }
    
}


